#dark-light{
    border: none;
    background: none;
  }#dark-light img{
    width: 33px;
    cursor: pointer;
  }

  .light .company-logo a {
    color: black;
  }
.light .sec-2{
    padding: 50px 0;
    background:  linear-gradient(180.1deg, #929092 1%, white 33.08%);
}
body .light{
    background-color: white !important;
}

.light .left-p p {
    color: white;
}
.light body {
    background: white;
}
.light .bacgroun{
    background-color: white;
    color: black;
}
.light .sec-2{
    background-color: white;
}
.light .home-text h3{
    color: black;
}
.light .home-text p{
    color: black;
}
/* .light .products .tx h2  {
    color: black;
} */ 