@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);
@import url(./dark.css);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}


html {
  scroll-behavior: smooth;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.348);
}
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}

/* -- BODY -- */
/* body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background: black;
  color: white;
} */

/* body.light{
  --white: black;
} */

/*  Header start*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 16px 3%;
  transition: 0.7s;
}
header.sticky {
  background: #043E51;
  color: white;
  transition: 0.7s;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.flex-nav-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}
.company-logo a{
color:  white;
font-size: 20px;
}
.nav-fl{
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 1.9rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background:  white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link::before {
  content: "";
  background:  white;
  width: 100%;
  height: 0.06rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 500ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#cars{
    border: none;
    background: transparent;
    color:  white;
    cursor: pointer;
}

.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  color:  white;
  display: none !important;
}
/* Header end */



/* Home start */
.sec-2{
  background: url(../img/background.svg);
  background-size: cover;
  background-position: center;
  background: linear-gradient(155.28deg, #383638 2.06%, #0B0B0B 33.08%);
  width: 100%;
}
.home{
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding-bottom: 55px;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  width: 95%;
}
.tx{
  text-align: center;
}
.tx p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3858D6;
}
.tx h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #1E1D1D;
}
.home-text{
  width: 50%;
}
.home-text h2{
	line-height: 1;
  width: 310px;
  padding: 16px 20px;
  font-size: 22px;
  color:  white;
  background: #094556;
  border-radius: 26px;
  margin-bottom: 25px;
}
.home-text h3{
	font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color:  white;
  margin-bottom: 25px;
}
.home-text p{
	font-size: var(--p-font);
	color: #a4a7af;
	line-height: 28px;
	margin-bottom: 20px;
}

.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}
.btn{
	display: inline-block;
	color: var(--bg-color);
	background: var(--main-color);
	font-size: var(--p-font);
	padding: 10px 40px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}
.btn:hover{
	transform: scale(1.1);
}
.home-img img{
	width: 100%;
}

.home .home-text .inp{
  display: flex;
}
.home-text input{
  box-shadow: 0px 0px 2px black;
  width: 300px;
  position: absolute;
  padding: 17px 17px;
  border-radius: 10px;
  border: none;
}
.home-text .inp a{
  position: relative;
  left: 210px;
  top: 8px;
  cursor: pointer;
  background: #3858D6;
  border-radius: 9px;
  color:  white;
  padding: 7px 7px;
}

/* Home end */


/* Home-Box start */
.flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 93%;
  padding: 60px 0px;
}
.card {
  position: relative;
  background: #F6F6F6;
  overflow: hidden;
  width: 98%;
  margin:auto;
  padding: 33px 15px;
  border-radius: 23px;
  margin-bottom: 20px;
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 3px);
  width: 100%;
  height: 100%;
  background: #00a0c1;
  z-index: 1;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.card:hover:before {
  bottom: 0;
}
.content {
  display: flex;
  gap: 14px;
}
.content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  position: relative;
  color: black;
  z-index: 2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.content2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  position: relative;
  color: black;
  z-index: 2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  text-align: center;
}
.content img{
  width: 90px;
}
.content2 img{
  width: 60%;
  text-align: center;
}
.content p {
  color: #737373;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.card:hover .content {
  color:  white;
}
.card .im{
  width: 120px !important;
}
.card:hover .content2 {
  color: white;
}
.card:hover p {
  color:  white;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.viev{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background: #3858D6;
  border-radius: 15px;
  color:  white;
  border: none;
  cursor: pointer;
  width: 150px;
}
/* Home-Box end */

/* Section 3 start */

#owl-carousel {
  padding: 80px 15px;
}

.owl-carousel-1 {
  position: relative;
}

.owl-carousel-1 .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  border-radius: 30px;
  transition: all 0.2s ease;
  background-color: #bab9b9;
}

.owl-carousel-1 .owl-dots .owl-dot.active span {
  width: 60px;
  background-color: #3858D6;
}

/* Section 3 end */

/*-- section 4 start --*/

.section4{
  background: #F6F6F6;
  border-radius: 22px;
  width: 92%;
  margin-bottom: 50px;
}
.section4 .Grid3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 45px;
}
.section4 .Grid3 h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 44px;
  color: #1E1D1D;
}

.section4 .Grid3 p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #8B8E99;
}
.section4 .Grid3 .inp{
  display: flex;
}
.Grid3 input{
  width: 330px;
  position: absolute;
  padding: 17px 17px;
  border-radius: 10px;
  border: none;
}
.Grid3 .inp a{
  position: relative;
  left: 240px;
  top: 7px;
  cursor: pointer;
  background: #3858D6;
  border-radius: 9px;
  color:  var(--white);
  padding: 7px 7px;
}

.Grid3 img{
  width: 100%;
}


/*-- section 4 end --*/





/*--- Footer start ---*/

.footer-bac{
  background: #0B0B0B;
  width: 100%;
  padding: 20px 0;
}
.footer-tx{
  text-align: center;
  color:  white;
}


/*--- Footer end ---*/

@media (max-width:1000px) {
  .home{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home .home-text .inp{
    display: flex;
    justify-content: center;
  }

  .home-text .inp a{
    position: relative;
    left: 100px;
    top: 8px;
  }
  .home-img img{
    width: 90%;
  }
  .home-text{
    width: 100%;
  }
  .home-text h3{
    font-size: 30px; 
    line-height: 40px;
  }
}

@media (max-width: 990px) {
  .nav-btn {
    display: none;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: black;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }

  .Home .fle {
    flex-direction: column;
    text-align: center;
  }
  .fle .p1 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .nav-fl .m {
    display: none;
  }
}

@media (max-width:910px){
  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 100%;
  }
}

@media (max-width:750px){
  .section4 .Grid3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 45px 10px;
  }
  .section4 .Grid3 h1{
    font-size: 30px;
  }
  .section4 .Grid3 .inp{
    display: flex;
    justify-content: center;
  }
  .Grid3 .inp a{
    position: relative;
    left: 111px;
    top: 7px;
  }
}
@media (max-width:650px){
  .flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}


